@model HotelierProject.WebUI.Models.Testimonial.UpdateTestimonialViewModel
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="TestimonialId" />
    <label>Referans Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Ünvan</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Resim</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    
    <button class="btn btn-outline-success">Referansı Güncelle</button>
</form>

